# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.egg-info/
*.egg
build/
dist/

# Playwright
playwright-report/

# VSCode
.vscode/

# macOS
.DS_Store

# Env/config
.env
venv
*.env
src/linkedin_scraper/config/cookies.json

# Docker
*.log

# Database
src/notion_poller/data/notion_data.db
src/linkedin_scraper/data/linkedin_data.db

# Test
.pytest_cache/

# Kubernetes
minikube-darwin-amd64

# Flags
flags/