# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.egg-info/
*.egg
build/
dist/

# Playwright
playwright-report/

# VSCode
.vscode/

# macOS
.DS_Store

# Env/config
.env
venv
*.env
src/linkedin_scraper/config/cookies.json

# Docker
*.log

# Database
src/notion_poller/data/*

# Test
.pytest_cache/

# Kubernetes
*.yaml
!cronjob.yaml
!deployment.yaml
!service.yaml